.index-statistics {
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  animation: all .3s;
}
.index-statistics a:first-child {
  display: block;
}
.index-statistics:hover {
  color: #555!important;
  transform: scale(1.02);
}
.count {
  font-size: 16px;
}
.layui-input {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
}
.layui-icon {
  position: absolute;
  top: 0;
  right: 12px;
}
.layui-colla-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.flag-box {
  padding-bottom: 50px;
}
.flag-item {
  position: relative;
  line-height: 24px;
  font-size: 16px;
  padding: 10px 30px;
  background-color: #f2f2f25c;
}
.flag-item::after {
  position: absolute;
  content: '确定能完成吗？';
  width: 30%;
  height: 60%;
  top: 50%;
  right: 10%;
  text-align: center;
  line-height: 6.6;
  font-weight: 700;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}