body::before {
  position: fixed;
  content: '滚去学习!';
  width: 500px;
  height: 500px;
  top: 60px;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #e66465, #9198e5);
  animation: rotate 5s 1;
  transform: rotateZ(-45deg);
  z-index: -1;
}
body::after {
  position: fixed;
  content: '滚去健身！';
  width: 500px;
  height: 500px;
  top: 60px;
  bottom: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #e66465, #9198e5);
  animation: contraryrotate 5s 1;
  transform: rotateZ(45deg);
  z-index: -1;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: -150px 0 0 -150px;
  border: 1px solid #999999;
  border-radius: 12px;
  background-color: rgba(255,255,255,.5);
  padding-bottom: 30px;
  animation: down 3s 1;
}
.login-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  color: #333333;
}
.login .login-form {
  width: 240px;
  height: auto;
  margin: 0 auto;
}
.login .login-form input[type="text"],
.login .login-form input[type="password"] {
  height: 26px;
  line-height: 26px;
  text-indent: 10px;
}
.login .login-form label {
  display: inline-block;
  width: 60px;
  text-align: left;
}
.login-btn button {
  width: 100%;
}
.login-forget-password a {
  color: #01AAED;
}
.login-forget-password a:hover {
  text-decoration: underline;
  color: #01AAED;
}

@keyframes rotate {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}
@keyframes contraryrotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
@keyframes down {
  0% {
    top: 0
  }
  50% {
    top: 80%
  }
  100% {
    top: 50%
  }
}